*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
 
body{
    background: #c0c0c0;
}
 
div.konten{
    background: #ffffff;
    width: 350px;
    margin: 120px auto 0;
    border-radius: 16px;
    min-height: 256px;
    overflow: hidden;
}
 
div.kepala{
    background: #4b5195;
    padding: 10px 22px;
    height: 60px;
}
 
div.kepala h2.judul{
    color: #fff;
    font-weight: normal;
    line-height: 40px;
    display: inline-block;
}
 
div.lock{
    background-image: url("../images/lock.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 8px;
    float: left;
    margin-right: 5px;
}
 
div.artikel{
    padding:10px 22px 0;
    color: #808080;
}
 
div.artikel div.grup{
    margin: 16px 0;
}
 
div.artikel div.grup label,
div.artikel div.grup input{
    display: block;
}
 
div.artikel div.grup label{
    font-size: 13px;
    margin-bottom: 10px;
}
 
div.artikel div.grup input[type="text"],
div.artikel div.grup input[type="password"]{
    width: 100%;
    
    padding: 1em;
    background: #eeeeee;
    border:none;
    color: #808080;
}
 
div.artikel div.grup input[type="submit"]{
    width: 100%;
    background: #4b5195;
    padding: 1em;
    margin: 0 auto;
    border: 1px solid #4b5195;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
}
 
div.artikel div.grup input[type="submit"]:hover{
    background: #28a45e;
}